html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-gap: 0.5rem;
  padding: 1rem;
}

.grid-item {
  background: rgb(111, 111, 111);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  width: 50px;
  height: 50px;
}

.d-flex{
  display: flex;
}


.wind-rose{
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  width: 550px;
  height: 550px;
  right: 0;
}